*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ,Arial, Helvetica, sans-serif;
}
body{
    background-color: gray;
    /* margin: 0 10%; */
}
.everything-container{
    display: flex;
}
/* Bar */
.bar{
    background-color: white;
    width: 100%;
    height: 70px;
    display: flex;
}

.admin-mode{
    color: green;
    font-weight: bold;
    font-size: 1.5rem;
    margin-left: 40%;
    padding-top: 1% ;
    width: 30%;
}

.log-out{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 7%;
    height: 50px;
    margin-top: 10px;
}

.log-out:hover{
    background-color: brown;
}

/* Search-bar && add / sort / update flights */

.search-bar{
    margin-top: 3%;
    background-color: salmon;
    height: 50px;
    width: 45%;
    padding-top: 10px;
    padding-left: 1%;
    border-radius: 20px;
    margin-left: 20%;
    margin-bottom: 1%;

}

.search-bar label{
    font-size: 1rem;
    padding-left: 10px;
    font-weight: 700;

}
.search-bar input{
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 7px;
}
.sort-by-price , .add-flights-btn{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1%;
}
.add-flights-btn{
    background-color: green;
    color: white;
    margin: 0;
}
.sort-by-price:hover{
    opacity: 0.9;
}

/* flights box */
.flights{
    width: 50%;
}
.flights-card{
    background-color: bisque;
    width: 70%;
    height: 290px;
    line-height: 1.6rem;
    margin-top: 1.5%;
    padding-left: 1%;
    padding-top: 1.5%;
    border-radius: 20px;
    margin-left: 10%;

}

h3{
    font-size: 1.1rem;
    padding-bottom: 2rem;
}

/* from-to  , departure-return*/
.from-to , .departure-return{
    display: flex;  
}
.from , .dep {
    padding-right: 33%;
}

.price-container{
    margin-left: 33%;
    margin-top: -20px;
}

/* info */
.small{
    width: 20ch;
    color: green;
    font-size: 0.89rem;
}


/* Add flights container */
.add-flights-container{

    background-color: skyblue;
    width: 30%;
    height: 350px;
    line-height: 1.6rem;
    margin-top: 0.7%;
    padding-left: 3%;
    border-radius: 20px;
    
}

.add-input{
    padding: 2px 10px;
    border: none;
    font-size: 20px;
}

.space{
    padding-bottom: 10px;
    font-size: 1.3rem;
    line-height: 1.7;
}

.add-flight{
    padding: 10px 50px;
    font-size: 1.2rem;
    margin-left: 25%;
    margin-top: 4%;
    background-color: green;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.add-flight:hover{
    opacity: 0.7;
}

/* close form btn */

.close-form{
    background-color: transparent;
    color: red;
    border:none;
    padding: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 93%;
    padding-bottom: 1%;
    padding-top: 3%;

}
.close-form:hover{
    opacity: 0.7;
}
