*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ,Arial, Helvetica, sans-serif;
}
body{
    background-color: gray;
}

.everything-container{
    display: flex;
}

/* Bar */
.bar{
    background-color: snow;
    width: 100%;
    height: 50px;
    display: flex;
}

.log-out{
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 7%;
    height: 50px;
    margin-left: 40%;
}

.log-out:hover{
    background-color: brown;
}



/* Search-bar */

.search-bar{

    margin-top: 3%;
    background-color: salmon;
    height: 50px;
    width: 50%;
    padding-top: 10px;
    padding-left: 1%;
    border-radius: 20px;
    margin-left: 20%;
    margin-bottom: 1%;

}

.search-bar label{
    font-size: 1rem;
    padding-left: 10px;
    font-weight: 700;
}
.search-bar input{
    width: 70%;
    padding: 5px;
    border: none;
    border-radius: 7px;
}
.sort-by-price{
    padding: 5px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 1%;
}
.sort-by-price:hover{
    opacity: 0.9;
}

/* flights box */
.flights{
    width: 50%;
}

.flights-card{
    background-color: bisque;
    width: 70%;
    height: 300px;
    line-height: 1.6rem;
    margin-top: 1.5%;
    padding-left: 1%;
    padding-top: 1.5%;
    border-radius: 20px;
    margin-left: 10%;
    position: relative;
}
/* info */
h3{
    font-size: 1.1rem;
    padding-bottom: 2rem;
}


.from-to , .departure-return{
    display: flex;  
}
.from , .dep {
    padding-right: 33%;
}

.price-container{
    margin-left: 33%;
    margin-top: -20px;
}

.add-to-cart-btn{
    background-color: green;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 60%;
    top: 80%;
}
.add-to-cart-btn:hover{
    opacity: 0.7;
}

.small{
    width: 20ch;
    color: green;
    font-size: 0.89rem;
}

.close-add-to-cart-btn{
    background-color: transparent;
    color: red;
    border:none;
    padding: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 93%;
    padding-bottom: 1%;
    display: none;

}
.close-add-to-cart-btn:hover{
    opacity: 0.7;
}


/* right side */

.cart{
    width: 70px;
    position: absolute;
    left: 46%;
    top: 23%;
}

.vertical {
    border-left: 2px solid black;
    height: 100%;
    position:absolute;
    left: 45%;
}

.my-cart-msg{
    position: absolute;
    left: 45.4%;
    top: 19%;
    font-size: 1.4rem;
}

.book-btn{
    background-color: purple;
    color: wheat;
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    top: 32%;
    left: 45.3%;
    font-weight: bold;
    font-size: 1.2rem;

}
.book-btn:hover{
    background-color: rgb(167, 131, 131);
    color:black;
}

/* inputs */
.change-input{
    background-color: transparent;
    border: none;
    color: green;
    font-weight: bold;
    display: flex;
    width: 20ch;
    font-size: 0.89rem;
}
.change-input:focus{
    outline: none;
}


/* confirm-flight popup */

.confirm-flight{
    background-color: skyblue;
    border-radius: 20px;
    width: 300px;
    height: 200px;
    position: absolute;
    left: 37%;
    top: 40%;
    display: none;
}

.total-price{
    margin-top: 3%;
    margin-left: 20%;
    font-size: 1.4rem;
}

.confirm-btn{
    margin-left: 20%;
    background-color: gray;
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
}
.confirm-btn:hover{
    background-color: white;
    color: black;
    opacity: 0.7;
}

.close-book{
    background-color: transparent;
    color: red;
    border:none;
    padding: 3px;
    cursor: pointer;
    font-size: 1.1rem;
    margin-left: 87%;
    margin-top: 2%;
}
.close-book:hover{
    opacity: 0.7;
}